<!-- blogPost.ejs -->


<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header.ejs") %>

<body>
    <div class="container">
        <h1>Blog Details</h1>
        <div class="card mt-4">
            <div class="card-header">
                <h5 class="card-title"><%= blogPost.title %></h5> <!-- Title -->
                <p class="card-text">Written by <%= blogPost.firstName %> <%= blogPost.lastName %></p> <!-- Author -->
                <p class="card-text">Date Created: <%= blogPost.dateCreated %></p> <!-- Date Created -->
            </div>
            <div class="card-body">
                <p class="card-text"><%= blogPost.blogContent %></p> <!-- Content -->
            </div>
        </div>
    </div>
</body>


<%- include("./partials/footer.ejs") %>

</html>

