<!DOCTYPE html>
<html lang="en">


<body>
    
<%- include("./partials/header.ejs") %>



<% if (locals.blogData && locals.blogData.length > 0){ %>
    <!--
    <div class="container table-responsive">-->
    <div class="container" style="max-height: 400px; overflow-y: auto;">    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-nowrap">Created on</th>
                    <th scope="col" class="text-nowrap">First Name</th>
                    <th scope="col" class="text-nowrap">Last Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Blog</th>
                </tr>
            </thead>
            <tbody>
                <% blogData.forEach(entry => { %>
                    <tr>
                        <td><%= entry.dateCreated %></td> <!-- Display date created -->
                        <td ><%= entry.firstName %></td>
                        <td><%= entry.lastName %></td>
                        <td><a href="/blogs/<%= encodeURIComponent(entry.title) %>"><%= entry.title %></a></td>
                        <td><%= entry.blogContent %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <h1><% console.log(blogData.length) %></h1>
<% } else { %>
    <div class="container">
    <p>No blog entries yet.</p>
    </div>
<% } %>



<%- include("./partials/footer.ejs") %>

</body>
</html>


